<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attendence_status.name %>
</p>

<%= link_to 'Edit', edit_attendence_status_path(@attendence_status) %> |
<%= link_to 'Back', attendence_statuses_path %>
