<footer class="art-footer">
  <div class="art-footer-inner">
    <div style="position:relative;padding-left:10px;padding-right:10px"><p>Copyright © 2013. All Rights Reserved. VLSBpo.com</p>

      <p>Designed and Developed by <a href="http://www.haatopia.com">www.haatopia.com</a></p>
    </div>
  </div>
</footer>


