<header class="art-header"><!-- begin nostyle -->



  <!-- end nostyle -->








  <div class="art-shapes">
    <div class="art-object1018090873" data-left="6.35%"></div>

  </div>







  <div class="art-sheet clearfix">
    <div class="art-layout-wrapper">
      <div class="art-content-layout">
        <div class="art-content-layout-row">
          <div class="art-blockcontent" style="text-align: left">

            <img  alt="" src="images/object367196465.png">

          </div> <br/>

      </div>
    </div>
  </div>
  </div>
  </div>
</header>
